<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Events Database</title>
  </head>
  <body>
    <h1><%= title %> </h1>
    <span>Please select a city: </span>
    <select>
      <option value="Atlanta">Atlanta</option>
      <option value="Denver">Denver</option>
      <option value="Phoenix">Phoenix</option>
      <option value="LosAngeles">Los Angeles</option>
    </select>
    <br>
    <span>Please select a topic: </span>
    <select>
      <option value="WebDevelopment">Web Development</option>
      <option value="DataScience">Data Science</option>
      <option value="Networking">Networking</option>
      <option value="Technology">Technology</option>
    </select>

    <h5> Here are the most popular meetups with that criteria: </h5>

    <table>
      <tr>
        <th>Meetup Name</th><th>Link</th><th>City</th><th>Organizer</th><th>Attended</th><th>Notes</th>
      </tr>
      <% for(var i=0; i < body.length; i++) { %>
         <tr>
           <td><%= body[i].name %></td>
           <td><%= body[i].link %></td>
           <td><%= body[i].city %></td>
           <td><%= body[i].organizer.name %></td>
           <td><input type="checkbox" name="attended" value="attended"></td>
           <td><textarea rows="2" cols="30"></textarea></td>
         </tr>
      <% } %>
    </table>
  </body>
</html>
