<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Events Database</title>
  </head>
  <body>
    <h1><%= title %> </h1>

    <form id="tableForm" onsubmit="formSubmitted()">
      <span>Please select a city: </span>
        <select id="citySelect" name="city">
          <option value="Atlanta">Atlanta</option>
          <option value="Austin">Austin</option>
          <option value="Boston">Boston</option>
          <option value="Charlotte">Charlotte</option>
          <option value="Chicago">Chicago</option>
          <option value="Dallas">Dallas</option>
          <option value="Denver">Denver</option>
          <option value="Detroit">Detroit</option>
          <option value="Houston">Houston</option>
          <option value="Los+Angeles">Los Angeles</option>
          <option value="Miami">Miami</option>
          <option value="Minneapolis">Minneapolis</option>
          <option value="New+York">New York</option>
          <option value="Orlando">Orlando</option>
          <option value="Philadelphia">Philadelphia</option>
          <option value="Phoenix">Phoenix</option>
          <option value="Portland">Portland</option>
          <option value="Raleigh">Raleigh</option>
          <option value="Salt+Lake+City">Salt Lake City</option>
          <option value="San+Diego">San Diego</option>
          <option value="San+Francisco">San Francisco</option>
          <option value="San+Jose">San Jose</option>
          <option value="Seattle">Seattle</option>
          <option value="Saint+Louis">St. Louis</option>
          <option value="Tampa">Tampa</option>
          <option value="Washington+DC">Washington, D.C.</option>
        </select>
        <br>
      <input type="submit" />
    </form>

    <h5> Here are the most popular meetups with that criteria: </h5>
    <table>
      <tr>
        <th>Meetup Name</th><th>Link</th><th>City</th><th>Organizer</th><th>Attended</th><th>Notes</th>
      </tr>
      <% for(var i=0; i < body.length; i++) { %>
         <tr>
           <td><%= body[i].name %></td>
           <td><%= body[i].link %></td>
           <td><%= body[i].city %></td>
           <td><%= body[i].organizer.name %></td>
           <td><input type="checkbox" name="attended" value="attended"></td>
           <td><textarea rows="2" cols="30"></textarea></td>
         </tr>
      <% } %>
    </table>

    <script src="/client.js"></script>
  </body>
</html>
